.header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-accent);
  padding: 28px 80px;

  &__nav {
    font-size: 18px;
  }

  &__link {
    cursor: pointer;
    padding: 10px;
    font-weight: 400;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;

    & + & {
      margin-left: 40px;
    }

    &:hover {
      background-color: var(--color-dark);
      opacity: 0.8;
      color: var(--color-bg-2);
    }
  }
}

@media only screen and (max-width: 980px) {
  .header {
    &__nav {
      font-size: 30px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 50px 28px 28px 20px;
    justify-content: center;
  }
}

@media only screen and (max-width: 460px) {
  .header {
    &__nav {
      font-size: 25px;
    }
    &__link {
      & + & {
        margin-left: 15px;
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .header {
    &__nav {
      font-size: 20px;
    }
    &__link {
      & + & {
        margin-left: 10px;
      }
    }
  }
}
