.footer {
  background-color: var(--color-dark);
  color: var(--color-bg);
  height: 360px;
  display: flex;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 40px 60px;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 40px;
  }

  &__text {
    font-size: 20px;
    color: var(--color-accent);
  }

  &__listContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;

    font-weight: 400;
    font-size: 24px;

    &--link {
      display: flex;
      align-items: center;
      transition: background-color 0.3s, color 0.3s;
      width: fit-content;
      color: var(--color-bg);
      padding: 6px;
      border-radius: 10px;
      &:link,
      &:visited {
        color: var(--color-accent);
      }
      &:hover {
        color: white;
      }
    }

    &--text {
      padding-left: 20px;
    }

    &--item {
      text-align: right;

      &:not(:last-of-type) {
        padding-bottom: 12px;
      }
      &:not(:first-of-type) {
        padding-top: 12px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .footer {
    &__heading {
      font-size: 55px;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .footer {
    &__heading {
      font-weight: 400;
      font-size: 50px;
    }
    &__container {
      padding: 30px;
    }
  }
}

@media only screen and (max-width: 870px) {
  .footer {
    flex-direction: column;

    &__heading {
      font-weight: 400;
      font-size: 50px;
      padding-bottom: 50px;
    }

    &__listContainer {
      padding-right: 0px;
    }

    &__list {
      flex-direction: row;
      padding-bottom: 50px;
      flex-wrap: wrap;

      &--link {
        padding: 10px 10px 10px 15px;
      }

      &--text {
        padding-left: 10px;
      }

      &--item {
        text-align: center;

        &:not(:last-of-type) {
          padding-bottom: 0px;
        }
        &:not(:first-of-type) {
          padding-top: 0px;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .footer {
    &__heading {
      font-size: 40px;
      &--1 {
        padding-bottom: 12px;
      }
    }
    &__list {
      &--link {
        font-size: 20px;
      }
    }
  }
}

@media only screen and (max-width: 510px) {
  .footer {
    height: auto;

    &__heading {
      font-size: 30px;
      padding-bottom: 30px;
      &--1 {
        padding-bottom: 12px;
      }
    }

    &__listContainer {
      justify-content: flex-start;
      padding-left: 30px;
    }
    &__list {
      flex-direction: column;

      &--link {
        padding: 10px 10px 10px 0px;
      }
    }
    &__text {
      font-size: 20px;
    }
  }
}
