.section {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-column-gap: 188px;

  padding-top: 80px;
  padding-left: 40px;
  padding-right: 40px;

  &:last-of-type {
    padding-bottom: 80px;
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
  }
}

@media only screen and (max-width: 1200px) {
  .section {
    grid-column-gap: 100px;
  }
}

@media only screen and (max-width: 980px) {
  .section {
    grid-template-columns: 180px 1fr;
    grid-column-gap: 40px;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;

    &:last-of-type {
      padding-bottom: 40px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .section {
    display: flex;
    flex-direction: column;
    &__title {
      padding-bottom: 28px;
      text-align: center;
    }
    &:last-of-type {
      padding-bottom: 80px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .section {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;

    &:last-of-type {
      padding-bottom: 40px;
    }
  }
}
